/*
Projeto: GS-WEB
Por: Tarcísio Freire
Data: 30/08/2007
Descrição: Este documento é uma tentativa de reorganização
		   e centralização de todas as Folhas de estilo - CSS
		   
*/ /*################  CONFIGURAÇÃO GERAL  ###################*/
address,th {
	font-style: normal;;
	font-weight: normal;
}

caption,th {
	text-align: left;
}

img,fieldset {
	border: none;
}

ol,ul {
	list-style: none;
	font-size: inherit;
}
a {
	text-decoration: none;
}

/*div{position:relative;}*/
a:link {
	color: #006699;
	text-decoration: none;
}

a:visited {
	color: #006699;
	text-decoration: none;
}

a:hover {
	color: #0066FF;
	text-decoration: none;
}

a:active {
	color: #006699;
	text-decoration: none;
}

.clr {
	clear: both;
	float: none;
}

body {
	scrollbar-face-color: #FFFFFF;
	scrollbar-shadow-color: #B3CDD7;
	scrollbar-highlight-color: #FFFFFF;
	scrollbar-3dlight-color: #B3CDD7;
	scrollbar-darkshadow-color: #FFFFFF;
	scrollbar-track-color: #FFFFFF;
	scrollbar-arrow-color: #006699;
	font-family: verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #006699;
	margin: 0;
	padding: 0;
	text-align: center; /* hack para o IE */
}

hr {
	border: 0px none;
	background-color: #E9E9E9;
	color: #E9E9E9;
	width: 98%;
}

/*################ FERRAMENTAS DE APOIO  ###################*/
.regua {
	background-image: url("../img/regua.jpg");
}

#regua {
	background-image: url("../img/regua.jpg");
}

/*################ LAYOUT  ###################*/
.label_100 {
	float: left;
	width: 100px;
	text-align: left;
	font-size: 11px;
	line-height: 23px;
	/*Igualar este valor com o campos_entrada_dados_float*/
}

.container {
	padding: 4px;
	border: solid 1px #B3CDD7;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

.container .squaretc {
	padding: 4px;
	/*border:solid 1px #006699;*/
	border: solid 1px #B3CDD7;
	margin: 10px 10px 0px 10px;
	text-align: center;
}

.container .squaretl {
	padding: 4px;
	/*border:solid 1px #006699;*/
	border: solid 1px #B3CDD7;
	margin: 10px 10px 0px 10px;
	text-align: left;
}

.container .squaretr {
	padding: 4px;
	/*border:solid 1px #006699;*/
	border: solid 1px #B3CDD7;
	margin: 10px 10px 0px 10px;
	text-align: right;
}

.container h1 { /*color:#035575;*/
	color: #E9E9E9;
	text-align: left;
	font-size: 13px;
	border-bottom: solid 1px #006699;
	background-image: url(../img/barra1.gif);
	background-repeat: repeat-x;
	background-color: white;
	padding: 6px 0px 9px 7px;
	margin: 0px 0px 8px 0px;
}

.container h2 {
	color: #006699;
	/*color:#E9E9E9;*/
	text-align: left;
	font-size: 12px;
	font-weight: normal;
	/*	background-image:url(../img/barraH2.gif);
	background-repeat:repeat-x;*/
	background-color: #EAEAEA;
	border-bottom: 3px solid #F0F0F0;
	border-right: 3px solid #F0F0F0;
	padding: 6px 0px 9px 7px;
	margin: -8px 0px 8px 0px;
}

.container h3 {
	color: #006699;
	/*color:#E9E9E9;*/
	text-align: left;
	font-size: 12px;
	font-weight: normal;
	/*	background-image:url(../img/barraH2.gif);
	background-repeat:repeat-x;*/
	background-color: #EAEAEA;
	border-bottom: 3px solid #F0F0F0;
	border-right: 3px solid #F0F0F0;
	padding: 6px 0px 9px 7px;
	margin: 0px 0px 8px 0px;
}

.container .body {
	_margin-bottom: 20px; /*IE6*/ *
	margin-bottom: 20px; /*IE7*/
	text-align: left;
	font-size: 1.1em;
}

.container .area_destaque {
	background-color: #D6E7ED;
	padding: 0px;
	margin: 7px 0px 0px 0px;
}

.container .area_destaque_contorno {
	border: solid 1px #D6E7ED;
	padding: 0px;
	margin: 7px 0px 0px 0px;
	height: 350px;
	width: 765px;
}

.container .area_destaque_contorno1 {
	border: solid 1px #D6E7ED;
	padding: 0px;
	margin: 7px 0px 0px 0px;
	width: 100%;
}

.container .barra_botoes {
	text-align: right;
	/*background-color:#DCE8EF;*/
	padding: 3px;
	margin-top: 8px;
	border: solid 1px #B3CDD7;
}

.container .footer {
	text-align: right;
	/*background-color:#DCE8EF;*/
	padding: 3px;
	margin-top: 25px;
	border-top: solid 1px #B3CDD7;
}
.container .footer_no_top {
	text-align: right;
	/*background-color:#DCE8EF;*/
	padding: 3px;
	margin-top: 2px;
	border-top: solid 1px #B3CDD7;
}

.container .label_entrada_dados {
	float: left;
	vertical-align: top;
	width: 135px;
	text-align: left;
	font-weight: bold;
	font-size: 11px;
	line-height: 19px;
	/*Igualar este valor com o campos_entrada_dados_float*/
	background-color: #F0F4FB;
	padding: 2px 2px 2px 5px;
	/*margin: 1px;*/
}

.container .campo_entrada_dados {
	float: left;
	vertical-align: top;
	width: 135px;
	text-align: left;
	font-weight: bold;
	font-size: 11px;
	line-height: 19px;
	/*Igualar este valor com o campos_entrada_dados_float*/
	padding: 2px 2px 2px 5px;
	border: #F0F4FB 1px solid;
	/*margin: 1px;*/
}

.container .label_manual_dados {
	/*Para dados de documentos impressos que serão preenchidos à mão*/
	float: left;
	text-align: left;
	line-height: 29px;
	border-bottom: 1px solid #C0D2E4;
	padding: 2px 2px 2px 5px;
	margin: 2px;
}

.container .campos_entrada_dados_float {
	/* Localizando dentro dos INPUTs*/
	float: left;
	line-height: 19px; /*Igualar este valor com o label_entrada_dados*/
	vertical-align: middle;
	margin: 2px;
	padding: 2px;
}

.container .l_e_dados {
	/*Para campos que necessitarem de ajustes na própria JS*/
	/*Campo de entrando de dados flutuante que permite vários componente em uma mesma linha*/
	float: left;
	text-align: left;
	font-weight: bold;
	font-size: 11px;
	line-height: 19px;
	/*Igualar este valor com o campos_entrada_dados_float ou c_e_dados_float*/
	background-color: #F0F4FB;
	padding: 2px 20px 2px 5px;
	margin: 2px;
}

.container .c_e_dados_float {
	/*Para campos que necessitarem de ajustes na própria JS*/
	/*Campo de entrando de dados flutuante que permite vários componente em uma mesma linha*/
	float: left;
	padding: 0px 20px 2px 0px;
	text-align: left;
	margin: 2px;
	line-height: 19px;
}

.container .label_instrucoes_linha {
	float: left;
	line-height: 23px;
	padding-left: 4px;
}

/*IMAGELOADER======================================*/
	
	
.imgLoad{
			background-image::url("../img/imgloader/loader.gif") no-repeat 0px 42px;;
			width: 100px;
			height:100px;
		}
.divLoad{
			display:none;
			position:absolute;
			top:365px;
			_top:385px;
			left:200px;
			text-align: center;
		}


/*TOOLTIP======================================*/
	/*tooltip inicialmente desenvolvido para o módulo de odontograma*/
a.tooltip {
	position: relative;
	padding: 0;
	color: #039;
	text-decoration: none;
	cursor: help;
	z-index: 24;
}

a.tooltip h1 {
	font-size: 13px;
	color: #385979;
	border-top: #385979 1px solid;
	border-bottom: none;
	margin: 8px 0px 5px 0px;
	padding: 0px;
	padding-top: 4px;
	background-image: none;
}

a.tooltip:hover {
	background: transparent;
	z-index: 25;
}

a.tooltip span {
	display: none
}

a.tooltip:hover span {
	display: block;
	position: absolute;
	width: 230px;
	top: 1em;
	text-align: justify;
	left: 0;
	font: 12px arial, verdana, helvetica, sans-serif;
	padding: 15px;
	border: 2px solid #027E9B;
	background: #FFFFFF;
	color: #000;
}

/*Rótulos para cabeçalhos======================================*/
	/*<h1><div class="rot_numerico">2</div>Procedimentos</h1> tem que ser inserido dentro de uma tag de cabeçalho*/
.rot_numerico {
	float: left;
	position: relative;
	margin-top: -5px;
	margin-right: 5px;
	height: 30px;
	width: 30px;
	background-color: white;
	border: solid 1px #B3CDD7;
	font-size: 20px;
	color: #B3CDD7;
	text-align: center;
}

/*TABELAS======================================*/
table {
	font-size: 9px;
	font-style: normal;
	background-position: center;
	text-align: left;
}

.table_sem_borda {
	font-style: normal;
	line-height: 15px;
	background-position: center;
	text-align: left;
	border: 0px;
	background-color: #CAEEFF;
	border-collapse: collapse;
}

.table_branca {
	font-style: normal;
	line-height: 15px;
	background-position: center;
	text-align: left;
	background-color: #FFFFFF;
	border-collapse: collapse;
	border-spacing: 0px;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: none;
}

.linha_table td {
	border-bottom: 1px solid #D6D6D6;
	padding: 5px;
	border-collapse: collapse;
	border-spacing: 0px;
}

.table_transparent {
	font-style: normal;
	line-height: 15px;
	background-position: center;
	text-align: left;
	border: 0px;
	background-color: transparent;
}

.table_transparent td {
	font-style: normal;
	line-height: 15px;
	background-position: center;
	text-align: left;
	border: 0px;
	background-color: transparent;
}

td {
	border: 1px solid #FFFFFF;
	color: #006699;
}
.label_lista{
	vertical-align: top;
	text-align: left;
	font-size: 11px;
	background-color: #F0F4FB;
	padding: 3px;
	width:210px;
	float:left;
	margin-bottom:3px;
}
.label_tabela_70{
	vertical-align: top;
	text-align: left;
	font-weight: bold;
	font-size: 11px;
	/*Igualar este valor com o campos_entrada_dados_float*/
	background-color: #F0F4FB;
	margin: 2px;
	padding: 3px;
	width: 70px;
}
.label_tabela_100{
	vertical-align: top;
	text-align: left;
	font-weight: bold;
	font-size: 11px;
	/*Igualar este valor com o campos_entrada_dados_float*/
	background-color: #F0F4FB;
	margin: 2px;
	padding: 3px;
	width: 100px;
}
.label_tabela_150{
	vertical-align: top;
	text-align: left;
	font-weight: bold;
	font-size: 11px;
	/*Igualar este valor com o campos_entrada_dados_float*/
	background-color: #F0F4FB;
	margin: 2px;
	padding: 3px;
	width: 150px;
}
.label_tabela_180{
	vertical-align: top;
	text-align: left;
	font-weight: bold;
	font-size: 11px;
	/*Igualar este valor com o campos_entrada_dados_float*/
	background-color: #F0F4FB;
	margin: 2px;
	padding: 3px;
	width: 180px;
}
.label_tabela_200{
	vertical-align: top;
	text-align: left;
	font-weight: bold;
	font-size: 11px;
	/*Igualar este valor com o campos_entrada_dados_float*/
	background-color: #F0F4FB;
	margin: 2px;
	padding: 3px;
	width: 250px;
}
.label_tabela_250{
	vertical-align: top;
	text-align: left;
	font-weight: bold;
	font-size: 11px;
	/*Igualar este valor com o campos_entrada_dados_float*/
	background-color: #F0F4FB;
	margin: 2px;
	padding: 3px;
	width: 250px;
}
.label_tabela{
	vertical-align: top;
	text-align: left;
	font-weight: bold;
	font-size: 11px;
	/*Igualar este valor com o campos_entrada_dados_float*/
	background-color: #F0F4FB;
	margin: 2px;
	padding: 3px;

}

.td_sem_borda {
	border: 0px;
	color: #006699;
}

table.realce tr:hover {
	background: #F1F1F1;
}

table.realce td:hover {
	background: #E9E9E9;
	cursor: pointer;
}

table.realce {
	color: #E4E4E4;
	vertical-align: middle;
	background: #F6F6F6;
}

th {
	font-size: 10px;
	height: auto;
}

#texto_branco th {
	color: #FFFFFF;
}

/*TÍTULOS============================================*/
h1 {
	font-size: 11px;
	color: #006699;
}

h2 {
	font-size: 12px;
	font-weight: bold;
	color: #006699;
}

h3 {
	color: #CAEEFF;
	font-size: 13px;
}

h6 {
	font-size: 11px;
	text-align: left;
	margin: 15px 0px 10px 0px;
	padding: 0px;
}

/*FORMULÁRIOS==========================================*/
form {
	margin: 0px;
	padding: 0px;
}

link {
	font-size: 13px;
	font-weight: normal;
	color: #006699;
}

textarea {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #006699;
	border: 1px solid #B3CDD7;
	background-color: #F9FCFF;
	height: 130px;
	width: 350px;
}

select {
	font-size: 11px;
	color: #006699;
	border: 1px solid #B3CDD7;
	background-color: #F9FCFF;
}

/*LAYOUT GERAL ==========================================*/
#recuo1 {
	padding: 8px 0px 8px 15px;
}

#recuo1Left {
	padding: 8px 8px 8px 15px;
	text-align: left;
}

#recuo2 {
	padding: 8px 0px 8px 15px;
}

#recuo3 {
	padding: 8px 0px 8px 15px;
}

#margem {
	padding: 9px;
}

/*############# FORMATADOR DE TEXTOS ESPECÍFICOS ##################*/
#fixa_botao { /*background-color:#CCCCCC;*/
	width: 180px;
}

#instrucoes {
	font-size: 9px;
	float: none;
}

#texto_destaque {
	font-weight: bold;
}

#destaque,#destaque td {
	font-weight: bold;
	padding: 7px;
	font-size: 11px;
}

#label_fundo_escuro_right {
	font-weight: bold;
	color: #FFFFFF;
	text-align: right;
	background-color: #006699;
}

#label_fundo_escuro_left {
	font-weight: bold;
	color: #FFFFFF;
	text-align: left;
	background-color: #006699;
}

#label_fundo_escuro_center {
	font-weight: bold;
	color: #FFFFFF;
	text-align: center;
	background-color: #006699;
}

#label_fundo_claro_right {
	font-weight: bold;
	text-align: right;
}

#label_fundo_claro_left {
	font-weight: bold;
	text-align: left;
}

#label_fundo_claro_center {
	font-weight: bold;
	text-align: center;
}

#label {
	text-align: right;
}

/*############ CABEÇALHO E CORPO TABELAS ##############*/
#titulo_fundo_escuro_right {
	font-weight: bold;
	color: #FFFFFF;
	text-align: right;
	font-size: 10px;
	line-height: 20px;
	background-color: #006699;
}

#titulo_fundo_escuro_left {
	font-weight: bold;
	color: #FFFFFF;
	font-size: 10px;
	line-height: 20px;
	text-align: left;
	padding-left: 5px;
	background-color: #006699;
}

#titulo_fundo_escuro_center {
	font-weight: bold;
	color: #FFFFFF;
	font-size: 10px;
	line-height: 20px;
	text-align: center;
	background-color: #006699;
}

#titulo_fundo_claro_right {
	font-weight: bold;
	font-size: 10px;
	line-height: 20px;
	text-align: right;
}

#titulo_fundo_claro_left {
	font-weight: bold;
	font-size: 10px;
	line-height: 20px;
	text-align: left;
	padding-left: 5px;
}

#titulo_fundo_claro_center {
	font-weight: bold;
	font-size: 10px;
	line-height: 20px;
	text-align: center;
}

.subtitulo_fundo_claro {
	padding: 2px;
	background-color: #FFFFFF;
}

.container .linha_tabela {
	border-bottom: 1px solid #006699;
}

/* fim cabeçalhos*/
	/*################  BUTTON / INPUT  ###################*/
/*input {
	color: #006699;
	background-color: #F9FCFF;
	border: 1px solid #B3CDD7;
	font-size: 11px;
	padding-left: 6px;
	padding-right: 6px;
	font-family: Arial, Helvetica, sans-serif;
}
input[type=text] {
	height: 20px;
}

input[type=button],input[type=reset] {
	height: 20px;
}
input[type=radio],input[type=checkbox] {
	height: 10x;
	border:none;
	background-color: none;
}
*/
input {
	color: #006699;
	background-color: #F9FCFF;
	border: 1px solid #B3CDD7;
	font-size: 11px;
	padding-left: 6px;
	padding-right: 6px;
	font-family: Arial, Helvetica, sans-serif;
	height:20px;
}
input[type=text] {
	height: 20px;
}

input[type=button],input[type=reset] {
	height: 20px;
}
input[type=radio],input[type=checkbox] {
	height: 12px;
	border:none;
	background-color: none;
}

.principal {
	/*Botões salvar, registrar informções, função principal da página que necessite de destaque*/
	border-left: #7DA2B7 7px solid;
	border-right: #7DA2B7 2px solid;
	font-weight: bold;
	font-size: 1.12em;
	height: 20px;
	font-family: sans-serif;
	margin-left: 5px;
	overflow: visible;
	padding-left: 5px;
	padding-right: 5px;
}

.adicionar {
	/*Botões para chamada de outras telas que irão inserir dados na tela pai*/
	border-left: #7DA2B7 7px solid;
	border-right: #7DA2B7 2px solid;
	background-color: #F0F4FB;
	font-weight: bold;
	font-size: 1.3em;
	height: 20px;
	font-family: sans-serif;
	overflow: visible;
	margin-left: 3px;
	padding-left: 5px;
	padding-right: 5px;
}

.secundario {
	/*Botões que tenha atenção secundária para a funcionalidade da página, mas não de menor importância que não necessite de destaque.*/
	border-left: #CC0000 7px solid;
	border-right: #CC0000 2px solid;
	font-family: sans-serif;
	margin-left: 5px;
	height: 20px;
	overflow: visible;
	padding-left: 5px;
	padding-right: 5px;
}

.limpar { /*Botões que limpam os campos, reset de formulários*/
	border-left: gray 7px solid;
	border-right: gray 2px solid;
	border-top: gray 1px solid;
	border-bottom: gray 1px solid;
	font-family: sans-serif;
	margin-left: 5px;
	height: 20px;
/*	color: #333333;*/
	overflow: visible;
	padding-left: 5px;
	padding-right: 5px;
}

.voltar { /*Padrão para o botão voltar*/
	border-left: #C0BF8D 7px solid;
	border-right: #C0BF8D 2px solid;
	font-family: sans-serif;
	margin-left: 5px;
	height: 20px;
 	overflow: visible;
	padding-left: 5px;
	padding-right: 5px;
}

.geral {
	/*Para botões que não se enquadrarem nas descrições anteriores*/
	border-left: #B3CDD7 7px solid;
	border-right: #B3CDD7 2px solid;
	font-family: sans-serif;
	margin-left: 7px;
	height: 20px;
	overflow: visible;
	padding: 1px;
	padding:0px 3px 0px 3px;
}

/*################  GERAL CSS (Include)  ###################*/
.alerta_vermelho {
	font-weight: bold;
	color: red;
}

#all_include {
	width: 90%;
	padding: 20px 5px 20px 5px;
	margin: 0 auto;
	text-align: center; /* "remédio" para o hack do IE */
}

#header_include {
	text_align: left;
}

#content_include {
	
}

#footer_include {
	text-align: left;
}

/*################  LOGIN (POP)  ###################*/
#label_130 {
	width: 130px;
	text-align: right;
}

#login_header {
	border: 1px solid #DCE8EF;
	width: 500px;
	padding: 10px 0px 5px 0px;
	margin: 0 auto;
	margin-bottom: 3px;
	margin-top: 15px;
}

#login_body {
	border: 1px solid #DCE8EF;
	width: 440px; *
	width: 500px;
	padding: 30px;
	margin: 0 auto;
	margin-bottom: 0px;
}

#login_body_table {
	background-color: #FFFFFF;
	width: 300px;
}

#login_footer {
	border: 1px solid #DCE8EF;
	width: 460px; *
	width: 500px;
	padding: 20px 20px 20px 20px;
	background-color: #DCE8EF;
	margin: 2px 0px 2px 0px;
	margin: 0 auto;
}

/*################  MENUS (POP)  ###################*/
#item_menu {
	font-size: 10px;
	font-weight: bold;
	line-height: 19px;
}

.botao {
	width: 141px;
	height: 29px;
	text-align: center;
}

.botao a {
	font: bold 12px/ 24px arial, helvetica, sans-aerif;
	padding: 0px;
	text-decoration: none;
	text-align: center;
	color: #ccc;
	background: white url(../jsp2/img/imgSair.gif) no-repeat center center;
	width: 141px;
	height: 29px;
	display: block;
}

.botao a:hover {
	background: white url(../jsp2/img/imgSairOn.gif) no-repeat center center
		;
	color: #999;
}

#item_menu {
	font-size: 10px;
	font-weight: bold;
	line-height: 19px;
}

/*################  BANCO DE SANGUE  ###################*/
	/*Config. fila de espera*/
.container .linha { /*Linha de registros para formção de uma lista*/
	text-align: left;
	font-size: 11px;
	/*background-color:#DCE8EF;*/
	padding: 3px;
	line-height: 18px;
	margin: 4px 0px 0px 0px;
	border: solid 1px #B3CDD7;
}

.linha a:hover {
	font-size: 11px;
	cursor: pointer;
	color: #006699;
	text-decoration: underline;
}

.container .col_etapas {
	width: 190px;
	float: left;
}

.container .col_pacientes {
	width: 100px;
	float: left;
}

.container .col_urgencia {
	width: 230px;
	float: left;
}

.container .col_disponibilidade {
	width: 200px;
	float: left;
}

.container .linha .img_etapas {
	float: left;
	background-image: url("../img/bancosangue/marcadorEtapasGeral.gif");
	background-repeat: no-repeat;
	background-position: -1px -22px;
	height: 18px;
	width: 150px;
}

/*Fim da fila de espera*/
	/******************************************************/
.container .linha .img_etapas1Ativo {
	float: left;
	background-image: url("../img/bancosangue/marcadorEtapasGeral.gif");
	background-repeat: no-repeat;
	background-position: -2px -1px;
	height: 18px;
	width: 56px;
	border: 0px;
}

.container .linha .img_etapas1Ativo:hover {
	float: left;
	background-image: url("../img/bancosangue/marcadorEtapasGeral.gif");
	background-repeat: no-repeat;
	background-position: -2px -86px;
	height: 18px;
	width: 56px;
	border: 0px;
}

.container .linha .img_etapas1Ok {
	float: left;
	background-image: url("../img/bancosangue/marcadorEtapasGeral.gif");
	background-repeat: no-repeat;
	background-position: -62px -22px;
	height: 18px;
	width: 19px;
	border: 0px;
}

.container .linha .img_etapas1Ok:hover {
	float: left;
	background-image: url("../img/bancosangue/marcadorEtapasGeral.gif");
	background-repeat: no-repeat;
	background-position: -62px -107px;
	height: 18px;
	width: 19px;
	border: 0px;
}

/******************************************************/
	/******************************************************/
.container .linha .img_etapas2 {
	float: left;
	background-image: url("../img/bancosangue/marcadorEtapasGeral.gif");
	background-repeat: no-repeat;
	background-position: -62px -1px;
	height: 18px;
	width: 19px;
	border: 0px;
}

.container .linha .img_etapas2:hover {
	float: left;
	background-image: url("../img/bancosangue/marcadorEtapasGeral.gif");
	background-repeat: no-repeat;
	background-position: -62px -86px;
	height: 18px;
	width: 19px;
	border: 0px;
}

.container .linha .img_etapas2Ativo {
	float: left;
	background-image: url("../img/bancosangue/marcadorEtapasGeral.gif");
	background-repeat: no-repeat;
	background-position: -2px -22px;
	height: 18px;
	width: 56px;
	border: 0px;
}

.container .linha .img_etapas2Ativo:hover {
	float: left;
	background-image: url("../img/bancosangue/marcadorEtapasGeral.gif");
	background-repeat: no-repeat;
	background-position: -2px -107px;
	height: 18px;
	width: 56px;
	border: 0px;
}

.container .linha .img_etapas2Ok {
	float: left;
	background-image: url("../img/bancosangue/marcadorEtapasGeral.gif");
	background-repeat: no-repeat;
	background-position: -85px -22px;
	height: 18px;
	width: 19px;
	border: 0px;
}

.container .linha .img_etapas2Ok:hover {
	float: left;
	background-image: url("../img/bancosangue/marcadorEtapasGeral.gif");
	background-repeat: no-repeat;
	background-position: -85px -107px;
	height: 18px;
	width: 19px;
	border: 0px;
}

/******************************************************/
	/******************************************************/
.container .linha .img_etapas3 {
	float: left;
	background-image: url("../img/bancosangue/marcadorEtapasGeral.gif");
	background-repeat: no-repeat;
	background-position: -85px -1px;
	height: 18px;
	width: 19px;
	border: 0px;
}

.container .linha .img_etapas3:hover {
	float: left;
	background-image: url("../img/bancosangue/marcadorEtapasGeral.gif");
	background-repeat: no-repeat;
	background-position: -85px -86px;
	height: 18px;
	width: 19px;
	border: 0px;
}

.container .linha .img_etapas3Ativo {
	float: left;
	background-image: url("../img/bancosangue/marcadorEtapasGeral.gif");
	background-repeat: no-repeat;
	background-position: -2px -44px;
	height: 18px;
	width: 56px;
	border: 0px;
}

.container .linha .img_etapas3Ativo:hover {
	float: left;
	background-image: url("../img/bancosangue/marcadorEtapasGeral.gif");
	background-repeat: no-repeat;
	background-position: -2px -129px;
	height: 18px;
	width: 56px;
	border: 0px;
}

.container .linha .img_etapas3Ok {
	float: left;
	background-image: url("../img/bancosangue/marcadorEtapasGeral.gif");
	background-repeat: no-repeat;
	background-position: -108px -22px;
	height: 18px;
	width: 19px;
	border: 0px;
}

.container .linha .img_etapas3Ok:hover {
	float: left;
	background-image: url("../img/bancosangue/marcadorEtapasGeral.gif");
	background-repeat: no-repeat;
	background-position: -108px -107px;
	height: 18px;
	width: 19px;
	border: 0px;
}

/******************************************************/
	/******************************************************/
.container .linha .img_etapas4 {
	float: left;
	background-image: url("../img/bancosangue/marcadorEtapasGeral.gif");
	background-repeat: no-repeat;
	background-position: -108px -1px;
	height: 18px;
	width: 19px;
	border: 0px;
}

.container .linha .img_etapas4:hover {
	float: left;
	background-image: url("../img/bancosangue/marcadorEtapasGeral.gif");
	background-repeat: no-repeat;
	background-position: -108px -86px;
	height: 18px;
	width: 19px;
	border: 0px;
}

.container .linha .img_etapas4Ativo {
	float: left;
	background-image: url("../img/bancosangue/marcadorEtapasGeral.gif");
	background-repeat: no-repeat;
	background-position: -2px -65px;
	height: 18px;
	width: 56px;
	border: 0px;
}

.container .linha .img_etapas4Ativo:hover {
	float: left;
	background-image: url("../img/bancosangue/marcadorEtapasGeral.gif");
	background-repeat: no-repeat;
	background-position: -2px -150px;
	height: 18px;
	width: 56px;
	border: 0px;
}

.container .linha .img_etapas4Ok {
	float: left;
	background-image: url("../img/bancosangue/marcadorEtapasGeral.gif");
	background-repeat: no-repeat;
	background-position: -62px -44px;
	height: 18px;
	width: 19px;
	border: 0px;
}

.container .linha .img_etapas4Ok:hover {
	float: left;
	background-image: url("../img/bancosangue/marcadorEtapasGeral.gif");
	background-repeat: no-repeat;
	background-position: -62px -129px;
	height: 18px;
	width: 19px;
	border: 0px;
}

/******************************************************/
	/******************************************************/
.container .linha .img_etapas5 {
	float: left;
	background-image: url("../img/bancosangue/marcadorEtapasGeral.gif");
	background-repeat: no-repeat;
	background-position: -85px -44px;
	height: 18px;
	width: 43px;
	border: 0px;
}

.container .linha .img_etapas5:hover {
	float: left;
	background-image: url("../img/bancosangue/marcadorEtapasGeral.gif");
	background-repeat: no-repeat;
	background-position: -85px -129px;
	height: 18px;
	width: 43px;
	border: 0px;
}

.container .linha .img_etapas5Ativo {
	float: left;
	background-image: url("../img/bancosangue/marcadorEtapasGeral.gif");
	background-repeat: no-repeat;
	background-position: -85px -65px;
	height: 18px;
	width: 43px;
	border: 0px;
}

.container .linha .img_etapas5Ativo:hover {
	float: left;
	background-image: url("../img/bancosangue/marcadorEtapasGeral.gif");
	background-repeat: no-repeat;
	background-position: -85px -150px;
	height: 18px;
	width: 43px;
	border: 0px;
}

.container .linha .img_etapas5Ok {
	float: left;
	background-image: url("../img/bancosangue/marcadorEtapasGeral.gif");
	background-repeat: no-repeat;
	background-position: -128px -44px;
	height: 18px;
	width: 43px;
	border: 0px;
}

.container .linha .img_etapas5Ok:hover {
	float: left;
	background-image: url("../img/bancosangue/marcadorEtapasGeral.gif");
	background-repeat: no-repeat;
	background-position: -128px -129px;
	height: 18px;
	width: 43px;
	border: 0px;
}

/******************************************************/
.container .item_bolsa {
	float: left;
	margin: 1px;
	height: 139px;
	width: 248px;
	border: solid 1px #D6E7ED;
	cursor: pointer;
}

.container .selecionado {
	border: solid 1px #CC0000; /*vermelho mais escuro*/
}

.container .box_selecao {
	text-align: left;
	padding: 5px;
	float: left;
	height: 100%;
	width: 240px;
	margin-top: 3px;
	border: solid 1px #B3CDD7
}

.container .titulo_retipificar {
	padding-left: 5px;
	line-height: 30px;
	text-align: left;
	width: 99%;
	height: 30px;
	font-size: 13px;
	float: left;
	font-weight: bolder;
}

.container .subtitulo_retipificar {
	padding: 0px 15px 0px 5px;
	text-align: left;
	height: 20px;
	max-width: 180px;
	font-size: 12px;
	float: left;
}

.container .item_bolsa_retipificar {
	/*Exclusivo para a seção de retipificação*/
	float: left;
	margin: 3px;
	height: 100px;
	width: 270px;
	/*border: solid 1px #D6E7ED;*/
}

.container .box_retipificar {
	float: left;
	border-right: 1px solid #B3CDD7;
	margin-right: 25px;
	width: 270px;
}

.container .area_destaque_contorno a:hover {
	/*Equivalente ao item_bolsa*/
	float: left;
	margin: 1px;
	height: 139px;
	width: 248px;
	border: solid 1px #CC0000; /*vermelho mais escuro*/
	cursor: pointer;
	background-color: #FFFEE6;
}

.container .area_destaque_contorno .item_menu hr {
	margin: 0px;
	padding: 0px;
	border: 1px solid #B3CDD7;
}

.container .img_bolsa {
	float: left;
	margin: 10px 2px 2px 2px;
	background: url("../img/bancosangue/bolsaA-.gif") center no-repeat;
	height: 85px;
	width: 71px;
}

.container .bolsaA- {
	background: url("../img/bancosangue/bolsaA-.gif") center no-repeat;
}

.container .bolsaA {
	background: url("../img/bancosangue/bolsaA+.gif") center no-repeat;
}

.container .bolsaB- {
	background: url("../img/bancosangue/bolsaB-.gif") center no-repeat;
}

.container .bolsaB {
	background: url("../img/bancosangue/bolsaB+.gif") center no-repeat;
}

.container .bolsaO- {
	background: url("../img/bancosangue/bolsaO-.gif") center no-repeat;
}

.container .bolsaO {
	background: url("../img/bancosangue/bolsaO+.gif") center no-repeat;
}

.container .bolsaAB- {
	background: url("../img/bancosangue/bolsaAB-.gif") center no-repeat;
}

.container .bolsaAB {
	background: url("../img/bancosangue/bolsaAB+.gif") center no-repeat;
}

.container .bolsaH- {
	background: url("../img/bancosangue/bolsaH-.gif") center no-repeat;
}

.container .bolsaH {
	background: url("../img/bancosangue/bolsaH+.gif") center no-repeat;
}

.container .bolsaGen {
	background: url("../img/bancosangue/bolsaGen.gif") center no-repeat;
}

.container .mBolsaA- {
	background: url("../img/bancosangue/mBolsaA-.gif") center no-repeat;
}

.container .mBolsaA {
	background: url("../img/bancosangue/mBolsaA+.gif") center no-repeat;
}

.container .mBolsaB- {
	background: url("../img/bancosangue/mBolsaB-.gif") center no-repeat;
}

.container .mBolsaB {
	background: url("../img/bancosangue/mBolsaB+.gif") center no-repeat;
}

.container .mBolsaO- {
	background: url("../img/bancosangue/mBolsaO-.gif") center no-repeat;
}

.container .mBolsaO {
	background: url("../img/bancosangue/mBolsaO+.gif") center no-repeat;
}

.container .mBolsaAB- {
	background: url("../img/bancosangue/mBolsaAB-.gif") center no-repeat;
}

.container .mBolsaAB {
	background: url("../img/bancosangue/mBolsaAB+.gif") center no-repeat;
}

.container .mBolsaH- {
	background: url("../img/bancosangue/mBolsaH-.gif") center no-repeat;
}

.container .mBolsaH {
	background: url("../img/bancosangue/mBolsaH+.gif") center no-repeat;
}

.container .td_rotulo_linha_inf {
	border-bottom: solid 2px #B3CDD7;
}

/*################  ODONTOLOGIA  ###################*/
a.lista_selecionavel_odonto:link {
	color: #006699;
	padding: 5px;
	margin: -5px;
}

a.lista_selecionavel_odonto:visited {
	color: #006699;
	padding: 5px;
	margin: -5px;
}

a.lista_selecionavel_odonto:hover {
	width: 100%;
	height: 100%;
	padding: 5px;
	margin: -5px;
	background-color: #F0F4FB;
}

a.lista_selecionavel_odonto:active {
	color: #006699;
	width: 100%;
	height: 100%;
	padding: 5px;
	margin: -5px;
	background-color: #F0F4FB;
}



.fissura{
		background: url(../img/odonto/fissura.gif) no-repeat center center;	
		width: 19px;
		height: 21px;
		display:block;
		left:50%;
		margin-left:-10px;
		position:absolute; 
		top:8px;
}
.lesao_cont{
		background: url(../img/odonto/lesao.gif) no-repeat top center;	
		width: 19px;
		height: 24px;
		display:block;
		left:50%;
		margin-left:-10px;
		position:absolute; 
		top:45px;
}
.lesao_cont_sup{
		background: url(../img/odonto/lesao.gif) no-repeat top center;	
		width: 19px;
		height: 24px;
		display:block;
		left:50%;
		margin-left:-10px;
		position:absolute; 
		top:5px;
}
.lesao_dif{
		background: url(../img/odonto/lesao.gif) no-repeat bottom center;	
		width: 19px;
		height: 24px;
		display:block;
		left:50%;
		margin-left:-10px;
		position:absolute; 
		top:43px;
}
.lesao_dif_sup{
		background: url(../img/odonto/lesao.gif) no-repeat bottom center;	
		width: 19px;
		height: 24px;
		display:block;
		left:50%;
		margin-left:-10px;
		position:absolute; 
		top:1px;
}	
.implante{
		background: url(../img/odonto/implante.gif) no-repeat center center;	
		width: 8px;
		height: 31px;
		display: block;
		left:50%;
		margin-left:-4px;
		position:absolute;
		top:35px;
}
.implante_sup{
		background: url(../img/odonto/implante.gif) no-repeat center center;	
		width: 8px;
		height: 31px;
		display: block;
		left:50%;
		margin-left:-4px;
		position:absolute;
		top:7px;
}
.nucleo{
		width: 8px;
		height: 31px;
		display: block;
		left:50%;
		margin-left:-5px;
		position:absolute;
		top:35px;
		border: 2px solid #a4c6e9;
		background-color: #a4c6e9;
}
.nucleo_sup{
		width: 8px;
		height: 31px;
		display: block;
		left:50%;
		margin-left:-5px;
		position:absolute;
		top:7px;
		border: 2px solid #a4c6e9;
		background-color: #a4c6e9;
}
.endo{
		width: 6px;
		height: 20px;
		display: block;
		left:50%;
		top:50%;
		margin-left:-4px;
		margin-top:-10px;
		position:absolute;
		border: 2px solid red;
		background-color:red;
}
.endo_concluido{
		width: 6px;
		height: 20px;
		display: block;
		left:50%;
		top:50%;
		margin-left:-4px;
		margin-top:-10px;
		position:absolute;
		border: 2px solid blue;
		background-color:blue;
}
.extrair{
		background: url(../img/odonto/extrair.png) no-repeat center center;	
		width: 19px;
		height: 19px;
		display: block;
		left:50%;
		top:50%;
		margin-top:-10px;
		margin-left:-10px;
		position:absolute;

}

.ausente{
		background: url(../img/odonto/ausente.png) no-repeat center center;	
		width: 18px;
		height: 18px;
		display: block;
		left:50%;
		top:50%;
		margin-top:-9px;
		margin-left:-9px;
		position:absolute;

}
.dente {
	height:73px;
}
.modifica_dente{
	height:73;
	border:1px dotted black;
	position:absolute; 
	margin-top:-37px
}

/*As letras são equivalentes ao números do dente a=1, b=2, c=3...*/
.Ah {
	background: url(../img/odonto/18.jpg) no-repeat center center;
	width: 31px;
}

.Ag {
	background: url(../img/odonto/17.jpg) no-repeat center center;
	width: 38px;
}

.Af {
	background: url(../img/odonto/16.jpg) no-repeat center center;
	width: 38px;
}

.Ae {
	background: url(../img/odonto/15.jpg) no-repeat center center;
	width: 28px;
}

.Ad {
	background: url(../img/odonto/14.jpg) no-repeat center center;
	width: 28px;
}

.Ac {
	background: url(../img/odonto/13.jpg) no-repeat center center;
	width: 23px;
}

.Ab {
	background: url(../img/odonto/12.jpg) no-repeat center center;
	width: 23px;
}

.Aa {
	background: url(../img/odonto/11.jpg) no-repeat center center;
	width: 26px;
}

.Ba {
	background: url(../img/odonto/21.jpg) no-repeat center center;
	width: 26px;
}

.Bb {
	background: url(../img/odonto/22.jpg) no-repeat center center;
	width: 23px;
}

.Bc {
	background: url(../img/odonto/23.jpg) no-repeat center center;
	width: 23px;
}

.Bd {
	background: url(../img/odonto/24.jpg) no-repeat center center;
	width: 28px;
}

.Be {
	background: url(../img/odonto/25.jpg) no-repeat center center;
	width: 28px;
}

.Bf {
	background: url(../img/odonto/26.jpg) no-repeat center center;
	width: 38px;
}

.Bg {
	background: url(../img/odonto/27.jpg) no-repeat center center;
	width: 38px;
}

.Bh {
	background: url(../img/odonto/28.jpg) no-repeat center center;
	width: 31px;
}

.Dh {
	background: url(../img/odonto/48.jpg) no-repeat center center;
	width: 31px;
}

.Dg {
	background: url(../img/odonto/47.jpg) no-repeat center center;
	width: 38px;
}

.Df {
	background: url(../img/odonto/46.jpg) no-repeat center center;
	width: 38px;
}

.De {
	background: url(../img/odonto/45.jpg) no-repeat center center;
	width: 28px;
}

.Dd {
	background: url(../img/odonto/44.jpg) no-repeat center center;
	width: 28px;
}

.Dc {
	background: url(../img/odonto/43.jpg) no-repeat center center;
	width: 23px;
}

.Db {
	background: url(../img/odonto/42.jpg) no-repeat center center;
	width: 23px;
}

.Da {
	background: url(../img/odonto/41.jpg) no-repeat center center;
	width: 26px;
}

.Ca {
	background: url(../img/odonto/31.jpg) no-repeat center center;
	width: 26px;
}

.Cb {
	background: url(../img/odonto/32.jpg) no-repeat center center;
	width: 23px;
}

.Cc {
	background: url(../img/odonto/33.jpg) no-repeat center center;
	width: 23px;
}

.Cd {
	background: url(../img/odonto/34.jpg) no-repeat center center;
	width: 28px;
}

.Ce {
	background: url(../img/odonto/35.jpg) no-repeat center center;
	width: 28px;
}

.Cf {
	background: url(../img/odonto/36.jpg) no-repeat center center;
	width: 38px;
}

.Cg {
	background: url(../img/odonto/37.jpg) no-repeat center center;
	width: 38px;
}

.Ch {
	background: url(../img/odonto/38.jpg) no-repeat center center;
	width: 31px;
}

.vista {
	/*margin-left: 1px;
	float: left;*/
	height: 27px;
	background-image: none;
}

.container .box {
	text-align: left;
	float: left;
	margin-right: 4px;
	margin-bottom: 4px;
	border: 2px solid #B3CDD7;
}

.container .box h1 {
	font-size: 10px;
	background-image: none;
	background-color: #B3CDD7;
	border: none;
	margin: none;
	color: white;
}

.container .box_content {
	padding: 7px;
}

/*################  QUESTIONARIO  ###################*/
#all_quest {
	width: 90%;
	padding: 5px;
	margin: 0 auto;
	text-align: left; /* "remédio" para o hack do IE */
}

#title_quest {
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 14px;
	font-weight: bold;
}

#header_img {
	float: left;
	padding: 5px;
}

#header_quest {
	background-color: #CAEEFF;
	padding: 3px;
}

#form_label {
	background-color: #FFFFFF;
	line-height: 18px;
	margin: 1px;
	padding: 2px 2px 2px 4px;
	float: left;
	width: 90px;
}

#label_limpa {
	line-height: 18px;
	padding: 2px;
	float: left;
	width: 70%;
	/*border:#000000 1px solid;*/
}

#form_label_numero {
	position: relative;
	background-color: #FFFFFF;
	line-height: 18px;
	padding: 2px;
}

#form_label_header {
	background-color: #FFFFFF;
	line-height: 18px;
	margin: 1px;
	padding: 2px;
	margin-right: 5px;
	margin-bottom: 5px;
	font-size: 11px;
	width: 95%;
}

#resp_quest {
	float: left;
	padding-right: 7px;
	padding-bottom: 60px;
}

#marcas_quest {
	padding-top: 40px;
	height: 105px;
	text-align: center;
	/*	background:url(../regulacao/Jsp2/img/logos/logo0.bmp) no-repeat 150px 10px;
	background:url(../regulacao/Jsp2/img/logos/logo1.bmp) no-repeat 250px 10px;
	background:url(../regulacao/Jsp2/img/logos/logo2.bmp) no-repeat 350px 10px;
	background:url(../regulacao/Jsp2/img/logos/logo3.bmp) no-repeat 450px 10px;
	background:url(../regulacao/Jsp2/img/logos/logo4.bmp) no-repeat 550px 10px;
	background:url(../regulacao/Jsp2/img/logos/logo5.bmp) no-repeat 150px 10px;
*/
}

#quesito_quest {
	padding-bottom: 20px;
	font-size: 12px;
	line-height: 18px;
	display: block;
}

#bloco_quest {
	background-color: #fff;
	padding: 5px 5px 5px 0px;
	text-align: left; /* "remédio" para o hack do IE */
}

#bloco_quest_vazio {
	background-color: #FFF;
	padding: 40px 40px 40px 40px;
	text-align: center; /* "remédio" para o hack do IE */
	border: solid 1px #006699;
	font-size: 14px;
}

#main_quest {
	clear: both;
	padding-top: 10px;
	/*margin-left:5px;*/
}

#title_quest_select {
	background-color: #999999;
	border: solid #999999 1px;
	font-size: 12px;
	padding: 2px;
	color: #FFFFFF;
}

#title_quest_text {
	border: solid #999999 1px;
	font-size: 12px;
	padding: 5px 20px 5px 5px;
	width: 97%;
	margin-left: 0px;
	margin-right: 0px;
}

#footer_quest {
	margin-left: 5px;
}

#h1_header {
	background-color: white;
	float: left;
	margin-bottom: 10px;
}

/*################  BARRA MENUS PRONTUÁRIO  ###################*/
.btn_fechar {
	background-image: url("../img/barrasheader/btnSair.gif");
	background-repeat: no-repeat;
	height: 26px;
	width: 110px;
	border: 0px;
	position: absolute;
	top: 36px;
	right: 15px;
}

.btn_fechar:hover {
	background-image: url("../img/barrasheader/btnSairAtivo.gif");
	background-repeat: no-repeat;
	height: 26px;
	width: 110px;
	border: 0px;
	position: absolute;
	top: 36px;
	right: 15px;
}

.btn_Listagem {
	background-image: url("../img/barrasheader/btnVoltar.gif");
	background-repeat: no-repeat;
	height: 26px;
	width: 110px;
	border: 0px;
	position: absolute;
	top: 36px;
	right: 115px;
}

.btn_Listagem:hover {
	background-image: url("../img/barrasheader/btnVoltarAtivo.gif");
	background-repeat: no-repeat;
	height: 26px;
	width: 110px;
	border: 0px;
	position: absolute;
	top: 36px;
	right: 115px;
}

.item_hor {
	font-family: Helvetica, sans-serif;
	font-size: 10px;
	position: relative;
	color: #CAEEFF;
	text-align: center;
	padding: 0px 3px 0px 3px;
	height: 29px;
	width: 71px;
	vertical-align: center;
	line-height: 14px;
}

.item_hor a {
	text-decoration: none;
	display: block;
	color: #CAEEFF;
	height: 29px;
	vertical-align: center;
}

.item_hor a:hover {
	color: #CAEEFF;
	/*	background-color: #004F75;*/
	background-image: url("../img/barrasheader/menu1Over.gif");
	height: 29px;
	vertical-align: center;
}

.item_hor a:visited {
	color: #CAEEFF;
	height: 29px;
	vertical-align: center;
}

.item_hor_CAEEFF {
	font-family: Helvetica, sans-serif;
	font-size: 10px;
	position: relative;
	text-align: center;
	padding: 0px 3px 0px 3px;
	height: 28px;
	width: 71px;
	vertical-align: center;
	line-height: 13px;
}

.item_hor_CAEEFF a {
	text-decoration: none;
	display: block;
	height: 28px;
	vertical-align: center;
}

.item_hor_CAEEFF a:hover {
	background-color: #AAE3FF;
	height: 28px;
	vertical-align: center;
	background-image: url("../img/barrasheader/menu2Over.gif");
	color: #006699;
}

.item_hor_CAEEFF a:visited {
	color: #006699;
	height: 28px;
	vertical-align: center;
}

.dados_paciente td,.dados_paciente a,.dados_paciente a:visited {
	color: white;
	font: 11px;
}

/*################  RELATÓRIO  ###################*/
#label_BL {
	background-color: #FFFFFF;
}

#label_inline {
	padding: 0px 2px 0px 5px;
	font-weight: bold;
	line-height: 20px;
}

#cont_inline {
	padding: 0px 7px 0px 0px;
	line-height: 20px;
}

.container_filtro {
	text-align: center;
	border-top: 1px solid #F0F0F0;
	padding: 25px;
}

/*############# REGULACAO ##################*/
#gravidade_imediato,#gravidade_imediato td,#gravidade_imediato tr {
	color: red;
	background-color: #FFD9D9;
}

.gravidade_alta,#gravidade_alta     ,#gravidade_alta td,#gravidade_alta tr
	{
	color: #FF3300;
	background-color: #FFE6B7;
}

.gravidade_media,#gravidade_media     ,#gravidade_media td,#gravidade_media tr
	{
	color: ;
	background-color: ;
}

#gravidade_baixa     ,#gravidade_baixa td,#gravidade_baixa tr {
	color: #330066;
	background-color: #E8FBFF;
}

.destaque_vermelho {
	color: red;
}

#regulacao th {
	padding-left: 10px;
	padding-right: 10px;
}

/*############# PACTUAÇÃO ##################*/
#label_spc {
	width: 210px;
}

/*############# EVOLUÇÂO UTI ##################*/
#titulo_box {
	padding: 6px;
	border: solid 1px #006699;
	font-size: 12px;
	position: relative;
	background-color: #DCE8EF;
	text-align: left;
	cursor: hand;
	width: 79%;
}

#titulo_exame_fisico {
	padding: 1px 2px 2px 6px;
	font-size: 9px;
	color: #FFFFFF;
	background-color: #6aacd3;
	cursor: hand;
}

#uti_cabecalho {
	width: 80%;
	padding: 20px 0px 15px 0px;
}

#uti_cabecalho td {
	padding: 3px;
}

/*################  UTI  ###################*/
#titulo_box {
	width: 80%;
	padding: 6px;
	border: solid 1px #006699;
	size: 12px;
	position: relative;
}

#instrucoes_uti {
	font-size: 9px;
	float: none;
}

#titulo_box {
	BORDER-RIGHT: #006699 1px solid;
	PADDING-RIGHT: 6px;
	BORDER-TOP: #006699 1px solid;
	PADDING-LEFT: 6px;
	FONT-SIZE: 12px;
	PADDING-BOTTOM: 6px;
	BORDER-LEFT: #006699 1px solid;
	WIDTH: 79%;
	CURSOR: hand;
	PADDING-TOP: 6px;
	BORDER-BOTTOM: #006699 1px solid;
	POSITION: relative;
	BACKGROUND-COLOR: #dce8ef;
	TEXT-ALIGN: left;
}

#uti_cabecalho {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 15px;
	WIDTH: 80%;
	PADDING-TOP: 20px;
}

#uti_cabecalho TD {
	PADDING-RIGHT: 3px;
	PADDING-LEFT: 3px;
	PADDING-BOTTOM: 3px;
	PADDING-TOP: 3px;
}

/*############ CONTRATOS ##############*/
#label_150 {
	width: 150px;
	text-align: right;
}

#label_claro_150 {
	width: 150px;
	text-align: right;
	background-color: #FFFFFF;
}

/*############  ##############*/
#caixa {
	border: 1px solid #B3CDD7;
	text-align: center;
}

.textPaginador {
	font-weight: normal;
	font-size: 8pt;
	color: #006699;
	font-style: normal;
}

.textPaginadorBlack {
	font-weight: normal;
	font-size: 8pt;
	color: #000000;
	font-style: normal;
}

.A_paginador:link {
	color: #006699;
	font-weight: normal;
	font-size: 8pt;
	font-style: normal;
	text-decoration: none
}

.A_paginador:visited {
	color: #006699;
	font-weight: normal;
	font-size: 8pt;
	font-style: normal;
	TEXT-DECORATION: none
}

.A_paginador:active {
	color: #ff6d00;
	font-weight: normal;
	font-size: 8pt;
	font-style: normal;
	text-decoration: none
}

.A_paginador:hover {
	color: #ff6d00;
	font-weight: normal;
	font-size: 8pt;
	font-style: normal;
	text-decoration: none
}

/*############ Alta médica ##############*/
.box_alta_medica { /*border:1px solid brown; */
	border: 1px solid #DCE8EF;
	width: 180px;
	height: 100px;
	margin: 3px;
	float: left;
}

.box_alta_medica .titulo {
	font-weight: bolder;
	font-size: 11px;
	text-align: left;
	width: 140px; *
	width: 180px;
	padding: 10px 7px 3px 26px;
	background-color: #DCE8EF;
	margin: 3px 3px 7px 3px;
	background-image: url('../img/blink_aviso.gif');
	background-repeat: no-repeat;
	background-position: 5px 8px;
}

.box_alta_medica .content {
	font-size: 11px;
	color: #921200;
	padding: 3px 5px 3px 6px;
}

.box_leito {
	width: 313px;
	height: 85px; *
	height: 100px;
	float: left;
	padding: 3px;
	border: solid 1px #006699;
	margin: 0px 4px 4px 0px;
	background-color: #d9e7ed;
}

.fem {
	background-color: #FFEAED;
}

.mas {
	background-color: #E3EEF2;
}

.neu {
	background-color: #EBFDE8;
}

.info_leito {
	float: left;
	text-align: left;
	height: 73px; *
	height: 75px;
	padding: 5px 8px 8px 8px;
	margin-left: 4px;
	width: 242px; *
	width: 250px; /*hack para IE*/
	background-color: white;
}

.dados_leito {
	height: 48px; *
	height: 40px;
	/*	background-color: red;*/
}

.txt_paciente {
	color: #00CC00;
}

.btn {
	height: 25px;
}

.btn input { /*correção para que os botões fiquem dentro da caixa - IE*/
	width: 100px;
	font-size: 11px;
	height: 22px;
	margin-top: 3px;
}

.btn hr {
	margin-bottom: 3px; *
	margin-bottom: -6px; /*hack para IE*/
	padding-bottom: 0px;
	height: 1px;
}

/*############ Barra prontuário ##############*/
.header {
	background-image: url("../img/barrasheader/part2.gif");
	background-repeat: repeat-x;
	height: 62px;
}

.part1 {
	background-image: url("../img/barrasheader/marca.gif");
	background-repeat: no-repeat;
	height: 62px;
	width: 332px;
	margin: 0px;
	left: -160px;
	position: relative;
	float: left;
}

.part2 {
	background-image: url("../img/barrasheader/part2.gif");
	background-repeat: repeat-x;
	height: 62px;
	margin: 0px;
	left: -160px;
	position: relative;
	width: 628px;
	float: left;
}

.menu1 {
	background-image: url("../img/barrasheader/menu1.gif");
	background-repeat: repeat-x;
	height: 29px;
}

.menu2 {
	background-image: url("../img/barrasheader/menu2.gif");
	background-repeat: repeat-x;
	height: 29px;
}

/*############ Prescrição ##############*/
#aba {
	background-color: #006699;
	text-align: center;
}

.nova_pagina {
	page-break-after: always;
}

/*###### DIV FOLDER  #######*/
.div_folder {
	background-image: url(../img/folder-item.png);
	background-position: -15px 0px;
	background-repeat: no-repeat;
	cursor: pointer;
	width: 17px;
	height: 16px;
}

.div_folder:hover {
	background-position: -15px -15px;
}

/*###### LIMIT CHARACTER  #######*/
div.limit_ch_parent {
	border: 1px solid black;
	height: 10px;
	width: 20%;
	background: #F0F0F0;
}

div.limit_ch_progress_bar {
	background-color: #00FF00;
	color: white;
	height: 10px;
	font-size: 7px;
	font-size-adjust: inherit;
	font-family: Verdana, Arial, sans-serif;
	text-align: center;
	width: 0%;
}

span.counter_limit {
	background: #F0F0F0;
	width: 50px;
	height: 10px;
	font-family: Verdana, Arial, sans-serif;
	text-align: left;
}

/*#####jHelperTip   WINDOW MODAL*/
.div_modal_jHelper {
	border: 1px solid #8C8C8C;
	background: #E2E9E2 none repeat scroll 0%;
	width: 300px;
	height: 200px;
	-moz-background-clip: -moz-initial;
	-moz-background-origin: -moz-initial;
	-moz-background-inline-policy: -moz-initial;
	color: #000000;
	/*display: none;*/
	padding-left: 2px;
	overflow: scroll;
}

#jHelperTipAttrContainer {
	background: #FFFFCC;;
	border: 1px solid #FF3333;
	color: #333;
	display: none;
}

#jHelperTipContainer {
	display: none;
}

#jHelperTipClose {
	cursor: pointer;
	color: #F00;
}

/*#### JQUERY  ########################################*/
div.open {
	background-image: url(../img/open.gif);
	background-repeat: no-repeat;
	background-color: transparent;
	cursor: pointer;
}

div.closed {
	background-image: url(../img/closed.gif);
	background-repeat: no-repeat;
	background-color: transparent;
	cursor: pointer;
}

/*#### PERÍCIA ########################################*/
.col1 {
	width: 50px;
}

.col2 {
	width: 70px;
}

.col3 {
	width: 70px;
}

.col4 {
	width: 30px;
}

.col4 {
	width: 23px;
}

.col5 {
	width: 22px;
}

.col6 {
	width: 25px;
}

.col7 {
	width: 25px;
}

.col8 {
	width: 23px;
}

.col9 {
	width: 20px;
}

.col10 {
	width: 21px;
}

.col11 {
	width: 70px;
}

.col12 {
	width: 70px;
}

.col13 {
	width: 58px;
}

.col14 {
	width: 70px;
}

.col15 {
	width: 100px;
}

.col16 {
	width: 30px;
}